<div class="row mb-2">
    {{#each this}}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row"></div>
                <div>
                    <div class="row px-2">
                        <p class="card-text">{{comment_text}}</p>
                    </div>
                    <div class="row px-2">
                        <p class="card-text">-{{user.username}} on {{format_date created_at}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>