<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Tech Blog</title>
</head>

<body>
    <div class="container-fluid">
        <!--Beginning of Nav Bar -->
        <div class="row">
            <div class="col-12">
                <header>
                    <nav class="navbar fixed-top navbar-dark bg-primary justify-content-start">
                        <a class="navbar-brand" href="/">The Tech Blog</a>
                        <ul class="nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link active m-1 text-light" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link m-1 text-light" href="dashboard.html">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                {{#if loggedIn}}
                                <a class="nav-link m-1 text-light btn-no-style" id="logout" href="/login">Logout</a>
                                {{else}}
                                <a class="nav-link m-1 text-light" href="/login">Login</a>
                                {{/if}}
                            </li>
                        </ul>
                        {{#if loggedIn}}
                        <form class="form-inline my-2 my-lg-0">
                            <a class="btn btn-outline-primary text-light bg-dark my-2 my-sm-0" type="submit">Hello,
                                {{currentUser}}</a>
                        </form>
                        {{/if}}

                    </nav>
                </header>
            </div>
        </div>
        <!--End of Nav Bar-->

        <!--Beginning of Main Section-->
        <main>{{{ body }}}</main>
        <!--End of Main Section-->
    </div>

    <!-- JavaScript -->
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>