<section>
    <div class="mb-2">
        {{#if posts.length}}
        <div class="col-12 bg-primary">
            <div class="text-light p-1 pt-3">
                <h2>Your Posts</h2>
            </div>
        </div>
        <ol class="nostyle">
            {{#each posts as |post|}}
            <li class="nostyle">
                {{> post-info-dashboard post}}
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
            </li>
            {{/each}}
        </ol>
        {{/if}}
        <div class="text-center btnDiv">
            <button type="button" class="btn btn-primary"><a class="btn-primary" href="/dashboard/newpost">+ New
                    Post</a></button>
        </div>
    </div>
</section>

<script src="/javascript/add-post.js"></script>