<div class="row p-2">
    <div class="col-12">
        <div class="border">
            <div class="col-12 bg-primary">
                <div class="text-light p-1 pt-3">
                    <h4>Create New Post</h4>
                </div>
            </div>
            <div class="col-12">
                <div class="px-5 py-3">
                    <form class="new-post-form">
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <div class="row px-2">
                                <input class="text-area" type="text" id="post-title" name="post-title" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Content">Content</label>
                            <div class="row px-2">
                                <input class="text-area" id="post-content" name="post-content" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btnWidth">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/add-post.js"></script>