<div class="row p-2">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="border">
            <div class="col-12 bg-primary">
                <div class="text-light p-1 pt-3">
                    <h4>SignUp</h4>
                </div>
            </div>
            <div class="col-12">
                <div class="px-5 py-3">
                    <form>
                        <div class="form-group">
                            <label for="Username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="username" />
                        </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="text" class="form-control" id="password" placeholder="password" />
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button type="button" class="btn btn-primary">
                                    <a class="text-light" href="dashboard.html">SignUp</a>
                                </button>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4">
                                <a class="text-italic text-secondary" href="/login">Login
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>